/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root { 
    /* Colors */

  --Stone-100: hsl(30, 54%, 90%); 
  --Stone-150: hsl(30, 18%, 87%); 
  --Stone-600: hsl(30, 10%, 34%); 
  --Stone-900: hsl(24, 5%, 18%); 
  --Brown-800: hsl(14, 45%, 36%); 
  --Rose-800: hsl(332, 51%, 32%); 
  --Rose-50: hsl(330, 100%, 98%); 

    /* Spacing */
    --spacing-s: 8px; 
    --spacing-m: 16px; 
    --spacing-l: 24px; 
    --spacing-xl: 32px; 
    --spacing-xxl: 40px;
    --spacing-xxxl: 48px;
    --spacing-xxxxl: 56px; 

    /* Font weights */
    --medium: 400; 
    --semi-bold: 600; 
    --bold: 700; 
}

@font-face {
    font-family: "outfit";
    font-weight: 400 700;
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.woff2) format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face { 
    font-family: "young-serif";
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body { 
    background-color: var(--Stone-100);
    font-family: "outfit";
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.recipe-container { 
  background-color: white;
  max-width: 720px;
  border-radius: 20px;
  padding: 40px;
}

.recipe-container img { 
  border-radius: 10px; 
}

@media (max-width:500px) { 
  .recipe-container { 
    border-radius: 0px;
    padding-top: 0px;
  }

  .recipe-container img { 
    min-width: 96vw;
    border-radius: 0px;
    margin-top: 0px;
  }
}

.recipe-title { 
  font-family: "young-serif"; 
  color: var(--Stone-900);
  font-size: 2.5rem;
  font-weight: var(--medium);
  margin-top: var(--spacing-xl);
  padding-left: 2px;
}

.recipe-description { 
  color: var(--Stone-600);
  margin-top: var(--spacing-m);
}

.preparation-time-section { 
  margin-top: var(--spacing-l);
  background-color: var(--Rose-50);
  padding: 20px;
  border-radius: 10px;
}
.preparation-time-section h3 { 
  font-size: 1.25rem;
  padding-left: 2px;
  font-weight: var(--semi-bold);
  color: var(--Rose-800);
  padding: 8px;
}

.preparation-time-section ul li::marker { 
  color: var(--Rose-800);
}

.preparation-time-section ul li { 
  padding-left: 16px;
  padding-bottom: 10px;
}

.preparation-time-section ul li b { 
  color: var(--Stone-900);
}

.preparation-time-section ul li { 
  color: var(--Stone-600);
  font-weight: var(--medium);
}

.ingredients-section { 
  margin-top: var(--spacing-l);
}

.ingredients-section h3 { 
  font-size: 1.8rem;
  font-family: "young-serif";
  font-weight: var(--medium);
}

